#a {
    background-color: #FFB223; 
    width:  500px;
    height: 500px;
}

#b { 
    background-color: #25D366;
    width:  50%;
    height: 50%;
}

#c {
    color: #FFF;
    background-color: red;
    font-size: 25px; 
    font-family: monospace;
    font-weight: bold;
}

#d {
    width: 50vw;
    background-color: rgb(8, 176, 206);
    height: 10vw;

}

#e {
    width: 75vw;
    height: 50%;
    background-color: rgb(245, 4, 4);
}